/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+bash+erlang+git+haskell+jade+python+ruby+scss+scheme+stylus+yaml&plugins=line-numbers+file-highlight+show-language */

/*
Name:       Base16 Atelier Lakeside Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside/)
Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

code[class*="language-"],
pre[class*="language-"] {
  font-family: code-family, monospace;
  font-size: ($font-size-base / 1.15);
  line-height: ($line-height-base / 1.1125);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: lightness(colors-main-media-muted, 90%);
  color: lightness(colors-main-media-muted, 35%);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #c1e4f6;
}

/* Code blocks */
pre[class*="language-"] {
  border: border-med border-type[0] colors-main-media
  padding: 3.5em 1em 1em 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  background: lightness(colors-main-media-muted, 90%);
  border-radius: 0.2em
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7195a8;
}

.token.punctuation {
  color: #516d7b;
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #935c25;
}
.token.property {
  color: #8a8a0f;
}
.token.tag {
  color: #257fad;
}
.token.string {
  color: #2d8f6f;
}
.token.selector {
  color: #6b6bb8;
}
.token.attr-name {
  color: #935c25;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #2d8f6f;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  font-weight: code-weights-2
  color: #568c3b;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #2d8f6f;
}

.token.placeholder,
.token.variable {
  color: #257fad;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #161b1d;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #d22d72;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em; /* Same as .prism’s padding-top */

  background: alpha(lightness(colors-main-media-muted, 40%), 0.8);
  background: linear-gradient(left, alpha(lightness(colors-main-media-muted, 75%), 0.25) 70%, alpha(lightness(colors-main-media-muted, 75%), 0));
  pointer-events: none;
  
  line-height: inherit;
  white-space: pre;
}

  .line-highlight:before,
  .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: lightness(colors-main-media-muted, 60%);
    color: colors-main-media-fill;
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 5em;
    text-shadow: none;
  }
  
  .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
  }

pre[class*='language-'] {
  position: relative;
}

pre[class*='language-'][data-language]::before {
  content: attr(data-language);
  color: colors-main-media-fill;
  background-color: colors-main-media;
  display: inline-block;
  font-family: code-family
  font-weight: code-weights-2
  position: absolute;
  top: 0;
  right: 0;
  font-size: $font-size-base;
  border-radius: none
  width: 100%
  padding: padding-small;
  text-shadow: none;
}