/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+bash+erlang+git+haskell+jade+python+ruby+scss+scheme+stylus+yaml&plugins=line-numbers+file-highlight+show-language */

/*
Name:       Base16 Atelier Lakeside Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside/)
Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: ($font-size-base / 1.15);
  line-height: ($line-height-base / 1.1125);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #ebf8ff;
  color: #516d7b;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #c1e4f6;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #c1e4f6;
}

/* Code blocks */
pre[class*="language-"] {
  border: border-med border-type[0] colors-clashes-accent-1
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7195a8;
}

.token.punctuation {
  color: #516d7b;
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #935c25;
}
.token.property {
  color: #8a8a0f;
}
.token.tag {
  color: #257fad;
}
.token.string {
  color: #2d8f6f;
}
.token.selector {
  color: #6b6bb8;
}
.token.attr-name {
  color: #935c25;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #2d8f6f;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  font-weight: code-weights-2
  color: #568c3b;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #2d8f6f;
}

.token.placeholder,
.token.variable {
  color: #257fad;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #161b1d;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #d22d72;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

  .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
  }

    .line-numbers-rows > span:before {
      content: counter(linenumber);
      color: #999;
      display: block;
      padding-right: 0.8em;
      text-align: right;
    }
pre[class*='language-'] {
  position: relative;
}
pre[class*='language-'][data-language]::before {
  content: attr(data-language);
  color: colors-clashes-bg-1;
  background-color: colors-clashes-accent-1;
  display: inline-block;
  font-family: code-family
  font-weight: code-weights-2
  position: absolute;
  top: 0;
  right: 0;
  font-size: $font-size-base;
  border-radius: none
  padding: padding-small;
  text-shadow: none;
}