////////////////
// #VARIABLES //
////////////////

/////////////
// Palette //
/////////////

colors-main-base = hsl(244, 43%, 50%)
colors-main-accent = hsl(334, 40%, 30%)
colors-main-accent-fill = hsl(334, 10%, 95%)
colors-main-accent-shade = hsl(334, 29%, 17%)
colors-main-media = hsl(154, 40%, 30%)
colors-main-media-fill = hsl(154, 10%, 95%)
colors-main-media-shade = hsl(154, 29%, 17%)
colors-main-text = hsl(244, 29%, 17%)
colors-main-bg = hsl(244, 10%, 95%)

////////////////
// Typography //
////////////////

json("data/typefaces.json")

//////////
// Grid //
//////////

json("data/mq.json")

layout-container-width = 60em;
layout-columns = 8;

/////////////
// Borders //
/////////////

border-hairline = 0.12em;
border-thin = 0.2em;
border-med = 0.3em;
border-thick = 0.4em;
border-super = 0.8em;
border-type = solid dotted;

/////////////
// Padding //
/////////////

padding-small = 0.5em;
padding-medium = 1em;
padding-large = 2em;
padding-super = 4em;

