////////////////
// #VARIABLES //
////////////////

/////////////
// Palette //
/////////////

json("data/colors.json")

////////////////
// Typography //
////////////////

json("data/typefaces.json")

//////////
// Grid //
//////////

json("data/mq.json")

layout-container-width = 60em;
layout-columns = 8;

/////////////
// Borders //
/////////////

border-hairline = 0.12em;
border-thin = 0.2em;
border-med = 0.3em;
border-thick = 0.4em;
border-super = 0.8em;
border-type = solid dotted;

/////////////
// Padding //
/////////////

padding-small = 0.5em;
padding-medium = 1em;
padding-large = 2em;
padding-super = 4em;

