////////////////
// #VARIABLES //
////////////////

/////////////
// Palette //
/////////////

colors-main-base = hsl(244, 43%, 50%)
colors-main-accent = lightness(hue(colors-main-base, hue(colors-main-base) + 90), 30%)
colors-main-accent-fill = lightness(colors-main-accent, 97%)
colors-main-accent-shade = lightness(colors-main-accent, 17%)
colors-main-accent-muted = lightness(saturation(colors-main-accent, 10%), 60%)
colors-main-media = lightness(hue(colors-main-base, hue(colors-main-base) - 90), 30%)
colors-main-media-fill = lightness(colors-main-media, 97%)
colors-main-media-shade = lightness(colors-main-media, 17%)
colors-main-media-muted = lightness(saturation(colors-main-media, 10%), 60%)
colors-main-text = lightness(colors-main-base, 15%)
colors-main-bg = lightness(colors-main-base, 100%)

////////////////
// Typography //
////////////////

json("data/typefaces.json")

//////////
// Grid //
//////////

json("data/mq.json")

layout-container-width = 60em;
layout-columns = 8;

/////////////
// Borders //
/////////////

border-hairline = 0.12em;
border-thin = 0.2em;
border-med = 0.3em;
border-thick = 0.4em;
border-super = 0.8em;
border-type = solid dotted;

/////////////
// Padding //
/////////////

padding-small = 0.5em;
padding-medium = 1em;
padding-large = 2em;
padding-super = 4em;
