.pattern
  h3.pattern-title Layout
  .example-g.grid.full .grid.full
    - for (var i = 0; i < 4; i++)
      .example-n.node .node
  .example-g.grid.halves .grid.halves
    - for (var i = 0; i < 4; i++)
      .example-n.node .node
  .example-g.grid.thirds .grid.thirds
    - for (var i = 0; i < 4; i++)
      .example-n.node .node
  .example-g.grid.quarters .grid.quarters
    - for (var i = 0; i < 4; i++)
      .example-n.node .node
  .example-g.grid.golden .grid.golden
    .example-n.node.major .node.major
    .example-n.node.minor .node.minor
  .example-g.grid.complex .grid.complex
    .example-n.node.col-3 .node.col-3
    .example-n.node.col-2 .node.col-2
  .example-g.grid.complex .grid.complex
    .example-n.node.col-1 .node.col-1
    .example-n.node.col-4 .node.col-4
  .grid.waffle grid.waffle
    - for (var i = 0; i < 16; i++)
      .example-n.node .node