.pattern
  h3.pattern-title Helpers
  h4.pattern-subtitle .u-highlighted
  .example.u-highlighted Some text will be highlighted here.
  h4.pattern-subtitle .u-null-list-style
  ul.example.u-null-list-style
    li This list
    li Lacks styling
  h4.pattern-subtitle .u-justify-center
  .h1.u-justify-center This Title is Centered
  h4.pattern-subtitle .u-justify-right
  .h1.u-justify-right This Title is Right Justified
  h4.pattern-subtitle .u-blocked
  span.u-blocked An inline element made a block element.