---
layout: default
home: true
title: "ChatRJr's Desk"
description: "This is the online scratchpad of designer/developer: Chatman Richmond Jr."
---

<ul class="blogreel grid">
  {% for post in paginator.posts %}
    <li class="articles grid golden">
      <div class="articles-meta node">
        <span class="articles-meta_date">{{ post.date | date_to_string }}</span>
        <span class="articles-meta_tags">Topics: {{ post.tags | array_to_sentence_string }}</span>
      </div>
      <div class="articles-content node">
        <h1 class="articles-content_title"><a href="{{ post.url }}" class="hover-reset">{{ post.title }}</a></h1>
        <p class="articles-content_excerpt">{{ post.excerpt }}</p>
      </div>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="prev" rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="page_num current">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="page_num" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="page_num" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="next" rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}