---
layout: default
home: true
template: main
title: "ChatRJr's Desk"
description: "This is the online scratchpad of designer/developer: Chatman Richmond Jr."
sitemap:
  changefreq: monthly
  priority: 0.7
---
{% include hero.html hero_subhead_text="A log of experiments, projects, and serendipitous discovery." %}
{{ include.hero_subhead_text }}
<main role="main">
<ul class="blogreel grid">
  {% for post in paginator.posts %}
    <li class="articles grid full">
      <div class="articles-content node">
        <h1 class="articles-content-title node"><a href="{{ post.url }}" class="hover-reset">{{ post.title }}</a></h1>
        <span class="articles-content-date span-block">{{ post.date | date: '%m/%d/%Y' }}</span>
      </div>
    </li>
  {% endfor %}
</ul>
</main>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="prev hover-reset" rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pagination-page-num pagination-current">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="pagination-page-num hover-reset" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="pagination-page-num hover-reset" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="next hover-reset" rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}