/*------------------*\
   $HEADER
\*------------------*/

.main-head {
  position: relative;
  margin-top: 0.5em;
}

.logo {
  background-size: contain;
  display: block;
  width: 7em;
  height: 4em;
}