
.icon-about {
	background-image: url('png/about.png');
	background-repeat: no-repeat;
}

.icon-archives {
	background-image: url('png/archives.png');
	background-repeat: no-repeat;
}

.icon-category {
	background-image: url('png/category.png');
	background-repeat: no-repeat;
}

.icon-codepen {
	background-image: url('png/codepen.png');
	background-repeat: no-repeat;
}

.icon-design {
	background-image: url('png/design.png');
	background-repeat: no-repeat;
}

.icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}

.icon-jsfiddle {
	background-image: url('png/jsfiddle.png');
	background-repeat: no-repeat;
}

.icon-logo {
	background-image: url('png/logo.png');
	background-repeat: no-repeat;
}

.icon-personal {
	background-image: url('png/personal.png');
	background-repeat: no-repeat;
}

.icon-system {
	background-image: url('png/system.png');
	background-repeat: no-repeat;
}

.icon-tag {
	background-image: url('png/tag.png');
	background-repeat: no-repeat;
}

.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}

.icon-web {
	background-image: url('png/web.png');
	background-repeat: no-repeat;
}

.icon-year {
	background-image: url('png/year.png');
	background-repeat: no-repeat;
}