/* Icons from directory "" */
.icon-about-alt,.icon-about-alt\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-about-alt-dims{width:250px;height:250px}
.icon-about,.icon-about\:regular{background-image:url('icons/icons.png');background-position:0 -250px;background-repeat:no-repeat}
.icon-about-dims{width:250px;height:250px}
.icon-architecture-alt,.icon-architecture-alt\:regular{background-image:url('icons/icons.png');background-position:0 -500px;background-repeat:no-repeat}
.icon-architecture-alt-dims{width:250px;height:250px}
.icon-architecture,.icon-architecture\:regular{background-image:url('icons/icons.png');background-position:0 -750px;background-repeat:no-repeat}
.icon-architecture-dims{width:250px;height:250px}
.icon-archives-alt,.icon-archives-alt\:regular{background-image:url('icons/icons.png');background-position:0 -1000px;background-repeat:no-repeat}
.icon-archives-alt-dims{width:250px;height:250px}
.icon-archives,.icon-archives\:regular{background-image:url('icons/icons.png');background-position:0 -1250px;background-repeat:no-repeat}
.icon-archives-dims{width:250px;height:250px}
.icon-category-alt,.icon-category-alt\:regular{background-image:url('icons/icons.png');background-position:0 -1500px;background-repeat:no-repeat}
.icon-category-alt-dims{width:250px;height:250px}
.icon-category,.icon-category\:regular{background-image:url('icons/icons.png');background-position:0 -1750px;background-repeat:no-repeat}
.icon-category-dims{width:250px;height:250px}
.icon-codepen-alt,.icon-codepen-alt\:regular{background-image:url('icons/icons.png');background-position:0 -2000px;background-repeat:no-repeat}
.icon-codepen-alt-dims{width:40px;height:40px}
.icon-codepen,.icon-codepen\:regular{background-image:url('icons/icons.png');background-position:0 -2040px;background-repeat:no-repeat}
.icon-codepen-dims{width:40px;height:40px}
.icon-experiment-alt,.icon-experiment-alt\:regular{background-image:url('icons/icons.png');background-position:0 -2080px;background-repeat:no-repeat}
.icon-experiment-alt-dims{width:250px;height:250px}
.icon-experiment,.icon-experiment\:regular{background-image:url('icons/icons.png');background-position:0 -2330px;background-repeat:no-repeat}
.icon-experiment-dims{width:250px;height:250px}
.icon-feed-alt,.icon-feed-alt\:regular{background-image:url('icons/icons.png');background-position:0 -2580px;background-repeat:no-repeat}
.icon-feed-alt-dims{width:40px;height:40px}
.icon-feed,.icon-feed\:regular{background-image:url('icons/icons.png');background-position:0 -2620px;background-repeat:no-repeat}
.icon-feed-dims{width:40px;height:40px}
.icon-github-alt,.icon-github-alt\:regular{background-image:url('icons/icons.png');background-position:0 -2660px;background-repeat:no-repeat}
.icon-github-alt-dims{width:40px;height:40px}
.icon-github,.icon-github\:regular{background-image:url('icons/icons.png');background-position:0 -2700px;background-repeat:no-repeat}
.icon-github-dims{width:40px;height:40px}
.icon-home,.icon-home\:regular{background-image:url('icons/icons.png');background-position:0 -2740px;background-repeat:no-repeat}
.icon-home-dims{width:250px;height:250px}
.icon-jsfiddle-alt,.icon-jsfiddle-alt\:regular{background-image:url('icons/icons.png');background-position:0 -2990px;background-repeat:no-repeat}
.icon-jsfiddle-alt-dims{width:40px;height:40px}
.icon-jsfiddle,.icon-jsfiddle\:regular{background-image:url('icons/icons.png');background-position:0 -3030px;background-repeat:no-repeat}
.icon-jsfiddle-dims{width:40px;height:40px}
.icon-logo-alt,.icon-logo-alt\:regular{background-image:url('icons/icons.png');background-position:0 -3070px;background-repeat:no-repeat}
.icon-logo-alt-dims{width:300px;height:300px}
.icon-logo-bg,.icon-logo-bg\:regular{background-image:url('icons/icons.png');background-position:0 -3370px;background-repeat:no-repeat}
.icon-logo-bg-dims{width:300px;height:300px}
.icon-logo,.icon-logo\:regular{background-image:url('icons/icons.png');background-position:0 -3670px;background-repeat:no-repeat}
.icon-logo-dims{width:300px;height:300px}
.icon-personal-alt,.icon-personal-alt\:regular{background-image:url('icons/icons.png');background-position:0 -3970px;background-repeat:no-repeat}
.icon-personal-alt-dims{width:250px;height:250px}
.icon-personal,.icon-personal\:regular{background-image:url('icons/icons.png');background-position:0 -4220px;background-repeat:no-repeat}
.icon-personal-dims{width:250px;height:250px}
.icon-project-alt,.icon-project-alt\:regular{background-image:url('icons/icons.png');background-position:0 -4470px;background-repeat:no-repeat}
.icon-project-alt-dims{width:250px;height:250px}
.icon-project,.icon-project\:regular{background-image:url('icons/icons.png');background-position:0 -4720px;background-repeat:no-repeat}
.icon-project-dims{width:250px;height:250px}
.icon-system-alt,.icon-system-alt\:regular{background-image:url('icons/icons.png');background-position:0 -4970px;background-repeat:no-repeat}
.icon-system-alt-dims{width:250px;height:250px}
.icon-system,.icon-system\:regular{background-image:url('icons/icons.png');background-position:0 -5220px;background-repeat:no-repeat}
.icon-system-dims{width:250px;height:250px}
.icon-tag-alt,.icon-tag-alt\:regular{background-image:url('icons/icons.png');background-position:0 -5470px;background-repeat:no-repeat}
.icon-tag-alt-dims{width:250px;height:250px}
.icon-tag,.icon-tag\:regular{background-image:url('icons/icons.png');background-position:0 -5720px;background-repeat:no-repeat}
.icon-tag-dims{width:250px;height:250px}
.icon-tooling-alt,.icon-tooling-alt\:regular{background-image:url('icons/icons.png');background-position:0 -5970px;background-repeat:no-repeat}
.icon-tooling-alt-dims{width:250px;height:250px}
.icon-tooling,.icon-tooling\:regular{background-image:url('icons/icons.png');background-position:0 -6220px;background-repeat:no-repeat}
.icon-tooling-dims{width:250px;height:250px}
.icon-twitter-alt,.icon-twitter-alt\:regular{background-image:url('icons/icons.png');background-position:0 -6470px;background-repeat:no-repeat}
.icon-twitter-alt-dims{width:40px;height:40px}
.icon-twitter,.icon-twitter\:regular{background-image:url('icons/icons.png');background-position:0 -6510px;background-repeat:no-repeat}
.icon-twitter-dims{width:40px;height:40px}
.icon-web,.icon-web\:regular{background-image:url('icons/icons.png');background-position:0 -6550px;background-repeat:no-repeat}
.icon-web-dims{width:250px;height:250px}
.icon-year-alt,.icon-year-alt\:regular{background-image:url('icons/icons.png');background-position:0 -6800px;background-repeat:no-repeat}
.icon-year-alt-dims{width:250px;height:250px}
.icon-year,.icon-year\:regular{background-image:url('icons/icons.png');background-position:0 -7050px;background-repeat:no-repeat}
.icon-year-dims{width:250px;height:250px}