/**
 * Chatman's Desk - Pattern Library
 * Author: Chatman Richmond Jr.
 * Copyright: 2015
 * Version: 3.0.0 (Flower)
 * --------------------------------------------------------------
 *
 * TABLE OF CONTENTS
 *    PLUGINS ==================== Helper Libs
 *       NORMALIZE
 *       VERTICAL RHYTHM
 *       PRISM
 *    CONFIGURATION ===================== Settings
 *      VARIABLES
 *      FUNCTIONS
 *      MIXINS
 *    UTILITIES ========================= Basic plumbing
 *      GRID
 *       HELPERS
 *    MATERIALS ========================= Global styling
 *      MAIN
 *      TEXT
 *      LINKS
 *      MEDIA
 *    COMPONENTS ======================== Page content
 *      HERO
 *      ARTICLES
 *      PAGINATION
 *    STRUCTURES ======================== Page fixtures
 *      HEADER
 *      MAIN MENU
 *      ARCHIVES
 *      BLOGREEL
 *      MAIN FOOT
 **/

@require "_plugins/normalize/normalize"
@require "_plugins/vertical-rhythm/vertical-rhythm"
@require "_plugins/prism/prism"