/**
 * Chatman's Desk - Pattern Library
 * Author: Chatman Richmond Jr.
 * Copyright: 2015
 * Version: 3.0.0 (Flower)
 * --------------------------------------------------------------
 *
 * TABLE OF CONTENTS
 *    CONFIGURATION ===================== Settings
 *      VARIABLES
 *      TYPECSSET...................Typography
 *      FUNCTIONS
 *      MIXINS
 *      SYNTAX......................Prism.js
 *    UTILITIES ========================= Basic plumbing
 *      NORMALIZE...................Consistent default styling
 *      TWEAKS......................Clearfixes, hidden text, etc.
 *      LAYOUT
 *    MATERIALS ========================= Global styling
 *      MAIN
 *      TEXT
 *      LINKS
 *      MEDIA
 *    COMPONENTS ======================== Page content
 *      HERO
 *      ARTICLES
 *      PAGINATION
 *    STRUCTURES ======================== Page fixtures
 *      HEADER
 *      MAIN MENU
 *      BLOGREEL
 **/

@require "_plugins/normalize/normalize"