/**
 * Chatman's Desk - Pattern Library
 * Author: Chatman Richmond Jr.
 * Copyright: 2015
 * Version: 3.0.0 (Flower)
 * --------------------------------------------------------------
 *
 * TABLE OF CONTENTS
 *    PLUGINS ==================== Libs
 *       NORMALIZE
 *       VERTICAL RHYTHM
 *    CONFIGURATION ===================== Settings
 *      VARIABLES
 *      FUNCTIONS
 *      MIXINS
 *      SYNTAX (Prism.js)
 *    UTILITIES ========================= Basic plumbing
 *      GRID
 *      HELPERS
 *    MATERIALS ========================= Global styling
 *      MAIN
 *      TEXT
 *      LINKS
 *      MEDIA
 *    COMPONENTS ======================== Page content (Patterns)
 *      ICONS
 *      LOGO
 *      MENUS
 *      PAGINATION
 *      POST
 *    STRUCTURES ======================== Page fixtures
 *      MAIN HEAD
 *      MAIN FOOT
 **/

/*==================*\
   #PLUGINS
\*==================*/

@require "_plugins/normalize/normalize"
@require "_plugins/vertical-rhythm/vertical-rhythm"

////////////////////
// #CONFIGURATION //
////////////////////

@require "_configuration/variables"
@require "_configuration/functions"
@require "_configuration/mixins"
@require "_configuration/syntax"

/*==================*\
   #UTILITIES
\*==================*/

@require "_utilities/grid"
@require "_utilities/helpers"

/*==================*\
   #MATERIALS
\*==================*/

@require "_materials/main"
@require "_materials/text"
@require "_materials/links"
@require "_materials/media"

/*==================*\
   #COMPONENTS
\*==================*/

@require "_components/icons"
@require "_components/logo"
@require "_components/menus"
@require "_components/articles"
@require "_components/pagination"
@require "_components/post"

/*==================*\
   #STRUCTURES
\*==================*/

@require "_structures/main-head"
@require "_structures/main-foot"
