.archives.grid.quarters
  aside.archive.node.archive--tags
    h3.archive-title By Tag
    .archive-content
      != list_tags({class: 'archive'})
  aside.archive.node.archive--years
    h3.archive-title By Year
    .archive-content
      != list_archives({class: 'archive', transform: titlecase, type: 'yearly'})
