.archives.grid.quarters
  aside.archive.node
    h3.archive-title By Topic
    .archive-content
      != list_tags({class: 'archive'})
  aside.archive.node
    h3.archive-title By Year
    .archive-content
      != list_archives({class: 'archive', transform: titlecase, type: 'yearly'})
