article.post
  .post-masthead
    h1.post-masthead__title= page.title
  include post-meta
  if page.primary-language
    .post-body(class="language-#{page.primary-language}")= page.content
  else
    .post-body!= page.content