article.post
  .post-masthead
    h1.post-masthead__title.u-justify-right= page.title
  include post-meta
  if page.language
    .post-body(class="language-#{page.language}")!= page.content
  else
    .post-body!= page.content