article.post(role="main")
  h1.title.title--post= page.title
  include article_meta
  if page.primary-language
    .post-body(class="language-#{page.primary-language}")= page.content
  else
    .post-body!= page.content