ul.blogreel
  - page.posts.each(function(article) {
    li.articles
      .articles-content
        h1.title.title--blogreel: a(href=article.path, title=article.title)= article.title
        include article_meta
  - })