include cond-title.jade
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="description", content=config.description)
meta(name="author", content=config.author)
include favicon-meta.jade
meta(name="viewport", content="width=device-width")
link(href="http://fonts.googleapis.com/css?family=Fira+Mono:400,700|Oswald:700|Roboto+Condensed:700|Roboto:400,400italic,900", type="text/css", rel="stylesheet")
include page-css.jade
include grumpicon.jade