mixin set-hero(type, subhead)
  .hero.grid.full(class="hero--#{type}")
    h1#line-1.hero-headline.node= config.title
    h2#line-2.hero-subhead.node= subhead

if is_home()
  +set-hero("home", config.subtitle)

if page.category == 'web'
  +set-hero("web", "The wonderful, wonderful web.")
else if page.category == 'personal'
  +set-hero("personal", "Thoughts outside of my text editor.")


if is_archive() && is_year()
  +set-hero("yearly", "Written in " + page.year + ".")
else if is_archive()
  +set-hero("archive", "Every post ever written (on this site).")

if is_tag()
  +set-hero("tag", "Written about " + page.tag + ".")