mixin set-hero(type, subhead)
  .hero.grid.full(class="hero--#{type}")
    h1#line-1.hero-headline.node= config.title
    h2#line-2.hero-subhead.node= subhead

if is_home()
  +set-hero("home", config.subtitle)

if page.category == 'web'
  +set-hero("web", "Web: the front-end business.")
else if page.category == 'personal'
  +set-hero("personal", "Personal: outside of my text editor.")
else if page.category == 'systems'
  +set-hero("systems", "Systems: the terminal side of things.")
else if page.category == 'design'
  +set-hero("design", "Design: how it looks and works.")


if is_archive() && is_year()
  +set-hero("yearly", "Written in " + page.year + ".")
else if is_archive()
  +set-hero("archive", "Every post ever written (on this site).")

if is_tag()
  +set-hero("tag", "Written about " + page.tag + ".")