nav.main-menu.node.minor.grid.halves.u-null-list-style
  each link, slug in theme.menu
    li.main-menu-item
      a.main-menu__link.node(href=link, title=slug)= slug
        i.main-menu__icon(class="icon icon-#{slug.toLowerCase()}")