if is_post() || page.layout == 'pattern-lib'
  script(src="/js/vendor/prismjs/prism.js")
else
  script(src="/js/vendor/fittextjs/vanilla-fittext.js")
  script.
    window.fitText( document.getElementById("line-1"), 0.8);
    window.fitText( document.getElementById("line-2"), 2.5);

if page.layout == 'pattern-lib'
  script(src="/js/vendor/fittextjs/vanilla-fittext.js")
  script.
    window.fitText( document.getElementById("line-1"), 0.9);
    window.fitText( document.getElementById("line-2"), 2.3);