case page.layout
  when 'about'
    link(rel="stylesheet", href="/css/about.css")
  when 'archive'
    link(rel="stylesheet", href="/css/archive.css")
  when 'pattern-lib'
    link(rel="stylesheet", href="/css/pattern-lib.css")
  when 'post'
    link(rel="stylesheet", href="/css/post.css")
  default
    link(rel="stylesheet", href="/css/main.css")