-
  var pageLayouts = {
    about: 'about',
    lib: 'pattern-lib',
    post: 'post',
    main: 'main'
  };

case page.layout
  when pageLayouts.about
    link(rel="stylesheet", href="/css/#{pageLayouts.about}.css")
  when pageLayouts.lib
    link(rel="stylesheet", href="/css/#{pageLayouts.lib}.css")
  when pageLayouts.post
    link(rel="stylesheet", href="/css/#{pageLayouts.post}.css")
  default
    link(rel="stylesheet", href="/css/#{pageLayouts.main}.css")