if page.layout == 'about'
  link(rel="stylesheet", href="/css/about.css")
else if is_archive() && !is_year()
  link(rel="stylesheet", href="/css/archive.css")
else if page.layout == 'pattern-lib'
  link(rel="stylesheet", href="/css/pattern-lib.css")
else if page.layout == 'post'
  link(rel="stylesheet", href="/css/post.css")
else
  link(rel="stylesheet", href="/css/main.css")