mixin display-date(d)
  span.post-meta__date= date(d, 'MM/DD/YYYY')

mixin display-tags(t)
  span.post-meta__tags
    if t.length > 0
      - t.each(function(tag) {
        a.post-meta__link(href=url_for(tag.path))= tag.name
      - })

.post-meta
  +display-date(page.date)
  +display-tags(page.tags)