---
layout: default
template: main
title: "Posts in: Personal"
description: "This is the online scratchpad of designer/developer: Chatman Richmond Jr."
sitemap:
  changefreq: monthly
  priority: 0.7
---
{% include hero.html hero_subhead_text="Beyond code." %}
<main role="main">
<ul class="blogreel grid">
  {% for post in site.categories.personal %}
    <li class="articles grid full">
      <div class="articles-content node">
        <h1 class="articles-content-title node"><a href="{{ post.url }}" class="hover-reset">{{ post.title }}</a></h1>
        <span class="articles-content-date span-block">{{ post.date | date: '%m/%d/%Y' }}</span>
      </div>
    </li>
  {% endfor %}
</ul>
</main>