            <nav class="main-menu inner-grid quarters node">
                <li class="main-menu-item node"><a href="/" class="main-menu-link"><i class="main-menu-icon icon-home span-block"></i>Home</a></li>
                <li class="main-menu-item node"><a href="/web" class="main-menu-link"><i class="main-menu-icon icon-web span-block"></i>Web</a></li>
                <li class="main-menu-item node"><a href="/personal" class="main-menu-link"><i class="main-menu-icon icon-personal span-block"></i>Personal</a></li>
                <li class="main-menu-item node"><a href="/about" class="main-menu-link"><i class="main-menu-icon icon-about span-block"></i>About</a></li>
            </nav>