.pattern
  h3.pattern-title Blockquote
  blockquote I'd hate to find out that the universe really wasn't conspiring against me. It would jerk the rug out from under my persecution complex.
    footer &mdash; Harry Dresden