.pattern
  h3.pattern-title Definition List
  dl
    dt This is a term.
    dd This is the definition of that term.
    dt Here is another term.
    dd And it gets a definition too, which is this line.