.pattern
  h3.pattern-title Headings
  ul.headings
    li.h1 Title
    li.h2 Second-Level Heading
    li.h3 Third-Level Heading
    li.h4 Fourth-Level Heading
  ul.headings
    li.h1 Title with #[a(href="#") Link]
    li.h2 Second-Level Heading with #[a(href="#") Link]
    li.h3 Third-Level Heading with #[a(href="#") Link]
    li.h4 Fourth-Level Heading with #[a(href="#") Link]