.pattern.node
  h3.pattern-title Headings
  ul.headings.u-null-list-style
    li.h1 Title
    li.h2 Second-Level Heading
    li.h3 Third-Level Heading
    li.h4 Fourth-Level Heading
    li.h5 Fifth-Level Heading
  ul.headings.u-null-list-style
    li.h1 Title with #[a(href="#") Link]
    li.h2 Second-Level Heading with #[a(href="#") Link]
    li.h3 Third-Level Heading with #[a(href="#") Link]
    li.h4 Fourth-Level Heading with #[a(href="#") Link]
    li.h5 Fifth-Level Heading with #[a(href="#") Link]
