.pattern.node
  h3.pattern-title Ordered List
  ol
    li This is an ordered list.
    li This is the second item, which contains a sub list
      ol
        li This is the sub list, which is also ordered.
        li It has two items.
    li This is the final item on this list.