.pattern.node
  h3.pattern-title Unordered List
  ul
    li Mothership Tales Titles:
      ul
        li Tales of Phantasia
        li Tales of Destiny
        li Tales of Eternia
        li Tales of Symphonia
        li Tales of the Abyss
    li Satellite Tales Titles:
      ul
        li Tales of the World: Radiant Mythology
        li Tales of VS.
        li Tales of the Heroes: Twin Brave