*,
*:before,
*:after
  box-sizing: border-box

.container
  max-width: layout-container-width
  margin: 0 auto
  padding: padding-small

$clearfix
  content: ""
  clear: both
  display: table

.grid
  margin-bottom: 1em

.grid:after
  @extends $clearfix

.node
  // border: 2px solid #555
  float: left

.node:after
  @extends $clearfix

.grid.full
  .node
    grid-generator(full)

.grid.golden
  .node
    grid-generator(golden)
    @media mini
      grid-generator(full)

// Collapsing grids

.grid.halves
  .node
    grid-generator(segmented, 2)

.grid.quarters
  .node
    grid-generator(segmented, 4)
    @media mini
      grid-generator(full)
    @media small
      grid-generator(segmented, 2)

.grid.eighths
  .node
    grid-generator(segmented, 8)
    @media mini
      grid-generator(segmented, 2)
    @media small
      grid-generator(segmented, 4)

/* For multi-column needs. */

.grid.complex
  grid-generator(columnar, layout-columns)
