.u-highlighted
  background: colors-main-accent
  border-bottom: border-thick border-type[0] colors-main-accent-shade
  color: colors-main-accent-fill
  padding: padding-medium
  a
    color: lightness(colors-main-media, 50%)
    &:visited
      color: colors-main-media-muted

$u-highlighted
  background: colors-main-accent
  border-bottom: border-thick border-type[0] colors-main-accent-shade
  color: colors-main-accent-fill
  padding: padding-medium
  a
    color: lightness(colors-main-media, 50%)
    &:visited
      color: colors-main-media-muted

.u-null-list-style
  list-style: none
  margin: 0;
  padding: 0;
  
.u-justify-center
  text-align: center

.u-justify-right
  text-align: right

.u-blocked
  display: block