.pattern.node
  h3.pattern-title .archive
  aside.archive
    .h3.archive-title My Archive
      i.archive-title__icon.icon.icon-category
    .archive-content
      ul.archive-list.u-null-list-style
          li.archive-list-item
            a.archive-list-link(href="#") item
            span.archive-list-count.u-justify-right 2