.pattern.node
  h3.pattern-title .articles
  .articles.grid.full
    .articles-content.node
      h1: a.articles-title(href="#") A Post About Something
      .articles-meta
        span.articles-meta__date 02/13/1990
        span.articles-meta__tags
          a.articles-meta__link(href="#") code
          a.articles-meta__link(href="#") design
          a.articles-meta__link(href="#") style guide