.pattern
  h3.pattern-title .articles
  ul.blogreel
      li.articles
        .articles-content
          h1.articles-title: a(href="#") A Post About Something
          .post-meta
            .post-meta__date 01/01/71
            a.post-meta__link(href="#") some-tag