.pattern.node
  h3.pattern-title .articles
  .articles
    .articles-content
      h1: a.articles-title(href="#") A Post About Something
      .articles-meta
        span.articles-meta__date 02/13/1990
        span.articles-meta__tags
          a.articles-meta__link(href="#") some tag