.pattern.node
  h3.pattern-title nav.footer-menu
  nav.footer-menu.u-null-list-style
    ul.footer-menu-section.node.u-null-list-style
      h5.footer-menu__title Footer Section Title
      li.footer-menu__item: a.footer-menu__link(href="#") Link