.pattern.node
  h3.pattern-title .icon
  ul.icons.u-null-list-style.grid.quarters
    - var icons = ["about", "archives", "category", "codepen", "design", "github", "jsfiddle", "personal", "tag", "twitter", "web", "year"];
    each icon in icons
      li.icons-id.node icon-#{icon}
        i.icon(class="icon-#{icon}")