.pattern.node
  h3.pattern-title nav.main-menu
  .mast.grid.complex
    nav.main-menu.node.col-7.grid.quarters.u-null-list-style
      - for (var i = 0; i < 4; i++)
        li.main-menu-item.node
          a.main-menu__link(href="#") Link
            i(class="icon icon-home main-menu__icon")