.pattern.node
  h3.pattern-title .pagination
  h4.pattern-subtitle Blog Pagination
  nav.pagination(role="navigation")
    span.pagination__prev: a.pagination__link(href="#", title="Previous Page") &#8612; Prev
    span.pagination__current  Page 1 of 5 
    span.pagination__next: a.pagination__link(href="#", title="Next Page") Next &#8614;
  h4.pattern-subtitle Post Pagination
  nav.pagination(role="navigation")
    span.pagination__prev: a.pagination__link(href="#", title="Prev Post") &#8612; Some Post
    span.pagination__sep  &mdash; 
    span.pagination__next: a.pagination__link(href="#", title="Next Post") Post After That &#8614;