////////////////
// $VARIABLES //
////////////////

//////////////
// $PALETTE //
//////////////

$color-base: rgb(81, 74, 184);
$color-bg: rgb(240, 240, 240);
$color-text: rgb(15, 10, 30);
$color-text-fill: rgb(240, 240, 255);

$brand-codepen: #000000;
$brand-github: #999999;
$brand-twitter: #35CCFF;
$brand-jsfiddle: #2795EE;

/////////////////
// $TYPOGRAPHY //
/////////////////

$typecsset-base-font-size: 21px;
$typecsset-base-line-height: 31.5px;
$typecsset-h1-size: 60px;
$typecsset-h2-size: 48px;
$typecsset-h3-size: 36px;
$typecsset-h4-size: 24px;
$typecsset-h5-size: 18px;
$typecsset-h6-size: 16px;

$font-body: 'Roboto', sans-serif;
$font-headline: 'Roboto Slab', serif;
$font-source: 'Source Code Pro', monospace;

/////////////
// Borders //
/////////////

$border-hairline: 1px;
$border-med: 3px;
$border-thick: 8px;
$border-super: 15px;
$border-type: solid;
