////////////////
// $VARIABLES //
////////////////

/////////////
// Palette //
/////////////

$color-base: rgb(81, 74, 184);
$color-bg: rgb(255, 255, 255);
$color-text: rgb(15, 10, 30);
$color-text-fill: rgb(240, 240, 255);

$brand-codepen: #000000;
$brand-github: #999999;
$brand-twitter: #35CCFF;
$brand-jsfiddle: #2795EE;

////////////////
// Typography //
////////////////

$typecsset-base-font-size: 21px;
$typecsset-base-line-height: 33px;
$typecsset-h1-size: 57.352px;
$typecsset-h2-size: 54.976px;
$typecsset-h3-size: 35.446px;
$typecsset-h4-size: 33.978px;
$typecsset-h5-size: 13.540px;
$typecsset-h6-size: 12.979px;

$font-body: 'Roboto', sans-serif;
$font-headline: 'Oswald', serif;
$font-source: 'Source Code Pro', monospace;

//////////
// Grid //
//////////

$layout-container-width: 50em;
$layout-columns: 5;
$layout-slice: 100% / $layout-columns;

/////////////
// Borders //
/////////////

$border-hairline: 0.1em;
$border-med: 0.3em;
$border-thick: 0.4em;
$border-super: 0.8em;
$border-type: solid;
