extends base/layout

block content
  .pattern-lib-info.u-highlighted
    include:markdown ../content/pattern-lib-intro.md
  section.level
    h2.section.title Configuration
    include patterns/configuration
  section.level
    h2.level-title Utilities
    include patterns/utilities
  section.level
    h2.level.title Materials
    include patterns/materials
  section.level
    h2.level.title Components
    include patterns/components
  section.level
    h2.level.title Structures
    include patterns/structures
  .pattern-lib-info.u-highlighted
    include:markdown ../content/pattern-lib-outro.md