/*------------------*\
   $LAYOUT
\*------------------*/

/* Set box model */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: $layout-container-width;
  margin: 0 auto;
  padding: 0.5em;
}

%clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.grid {
  @extend %clearfix;
  margin-bottom: 1em;
}

.node {
  @extend .grid;
  float: left;
  margin-bottom: 0;
}

.full {
  .node {
    width: 100%;
  }
}

.golden {
  .node.sec-col {
    width: 100% - 61.804697157%;
    @include media(tiny) {
      width: 100%;
    }
  }
  .node.prime-col {
    width: 61.804697157%;
    @include media(tiny) {
      width: 100%;
    }
  }
}

.halves {
  .node {
    width: 50%;
    @include media(tiny) {
      width: 100%;
    }
  }
}

.quarters {
  .node {
    width: 25%;
    @include media(tiny) {
      width: 100%;
    }
  }
}

// 5 column slices
.sliced {
  .node.col-1 {
    width: $layout-slice;
  }
  .node.col-2 {
    width: $layout-slice * 2;
  }
  .node.col-3 {
    width: $layout-slice * 3;
  }
  .node.col-4 {
    width: $layout-slice * 4;
  }
  .node.col-5 {
    width: $layout-slice * 5;
  }
}