/*------------------*\
   $LAYOUT
\*------------------*/

/* Set box model */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 50em;
  padding: 0 0.5em;

}

%clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.grid {
  @extend %clearfix;
  margin-bottom: 1em;
}

.node {
  @extend .grid;
  margin-bottom: 0;
}

.golden {
  .node:nth-child(1) {
    float: left;
    width: 100% - 61.804697157%;
  }
  .node:nth-child(2) {
    float: left;
    width: 61.804697157%;
  }
}
