/*------------------*\
   $TWEAKS
\*------------------*/

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hover-reset:hover,
.hover-reset:focus {
  font-weight: inherit;
}

.span-block {
  display: block;
}