/*------------------*\
   $TWEAKS
\*------------------*/

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hover-reset:hover,
.hover-reset:focus {
  background-color: transparent;
  color: $color-base;
}

.span-block {
  display: block;
}