.pattern
  h3.pattern-title .archives
  .archives
    aside.archive
      .h3.archive-title My Archive
      .archive-content
        ul.archive-list
          - for (var i = 1; i <= 10; i++)
            li.archive-list-item
              a.archive-list-link(href="#") item
              span.archive-list-count #{i}
    aside.archive
      .h3.archive-title My Other Archive
      .archive-content
        ul.archive-list
          - for (var i = 1; i <= 5; i++)
            li.archive-list-item
              a.archive-list-link(href="#") item
              span.archive-list-count #{i}