.pattern
  h3.pattern-title .blogreel
  ul.blogreel
      li.articles
        .articles-content
          h1.title.title--blogreel: a(href="#") A Post About Something
          .post-meta
            .post-meta__date 01/01/71
            .post-meta__tags
              a.post-meta__link(href="#") some-tag
      li.articles
        .articles-content
          h1.title.title--blogreel: a(href="#") A Post About Something Else
          .post-meta
            .post-meta__date 01/01/72
            .post-meta__tags
              a.post-meta__link(href="#") some-tag
      li.articles
        .articles-content
          h1.title.title--blogreel: a(href="#") A Post About Yet Another Thing
          .post-meta
            .post-meta__date 01/01/73
            .post-meta__tags
              a.post-meta__link(href="#") some-tag
      li.articles
        .articles-content
          h1.title.title--blogreel: a(href="#") Postamania's Running Wild
          .post-meta
            .post-meta__date 01/01/73
            .post-meta__tags
              a.post-meta__link(href="#") some-tag