.pattern
  h3.pattern-title .blogreel
  ul.blogreel
      li.articles
        .articles-content
          h1.articles-title: a(href="#") A Post About Something
          .post-meta
            span.post-meta__date 01/01/71
            span.post-meta__tags
              a.post-meta__link(href="#") some-tag
      li.articles
        .articles-content
          h1.articles-title: a(href="#") A Post About Something Else
          .post-meta
            span.post-meta__date 01/01/72
            span.post-meta__tags
              a.post-meta__link(href="#") some-tag
      li.articles
        .articles-content
          h1.articles-title: a(href="#") A Post About Yet Another Thing
          .post-meta
            span.post-meta__date 01/01/73
            span.post-meta__tags
              a.post-meta__link(href="#") some-tag
      li.articles
        .articles-content
          h1.articles-title: a(href="#") Postamania's Running Wild
          .post-meta
            span.post-meta__date 01/01/74
            span.post-meta__tags
              a.post-meta__link(href="#") some-tag