.pattern.node
  h3.pattern-title .blogreel
  ul.blogreel
      li.articles
        .articles-content
          h1: a.articles-title(href="#") A Post About Something
          .articles-meta
            span.articles-meta__date 02/13/1990
            span.articles-meta__tags
              a.articles-meta__link(href="#") some-tag
      li.articles
        .articles-content
          h1: a.articles-title(href="#") A Post About Something Else
          .articles-meta
            span.articles-meta__date 02/13/1991
            span.articles-meta__tags
              a.articles-meta__link(href="#") some-tag
      li.articles
        .articles-content
          h1: a.articles-title(href="#") A Post About Yet Another Thing
          .articles-meta
            span.articles-meta__date 02/13/1993
            span.articles-meta__tags
              a.articles-meta__link(href="#") some-tag
      li.articles
        .articles-content
          h1: a.articles-title(href="#") Postamania's Running Wild
          .articles-meta
            span.articles-meta__date 02/13/1995
            span.articles-meta__tags
              a.articles-meta__link(href="#") some-tag