.pattern.node
  h3.pattern-title .blogreel
  ul.blogreel.grid.full.u-null-list-style
      li.articles.node
        .articles-content
          h1: a.articles-title(href="#") A Post About Something
          .articles-meta
            span.articles-meta__date 02/13/1990
            span.articles-meta__tags
              a.articles-meta__link(href="#") some-tag
      li.articles.node
        .articles-content
          h1: a.articles-title(href="#") A Post About Something Else
          .articles-meta
            span.articles-meta__date 02/13/1991
            span.articles-meta__tags
              a.articles-meta__link(href="#") some-tag
      li.articles.node
        .articles-content
          h1: a.articles-title(href="#") A Post About Some Other Thing
          .articles-meta
            span.articles-meta__date 02/13/1993
            span.articles-meta__tags
              a.articles-meta__link(href="#") some-tag
      li.articles.node
        .articles-content
          h1: a.articles-title(href="#") Yet Another Post About Another Topic
          .articles-meta
            span.articles-meta__date 02/13/1996
            span.articles-meta__tags
              a.articles-meta__link(href="#") some-tag