.pattern
  h3.pattern-title .main-foot
  footer.main-foot
    nav.footer-menu
      li: a(href="#") Link
      ul.footer-menu-section
        h5.footer-menu-title Footer Section Title
        li: a.footer-menu__link(href="#") Link