.pattern
  h3.pattern-title .main-head
  header.main-head
    .logo.icon.icon-logo.icon--header
    nav.main-menu
      - for (var i = 0; i < 5; i++)
        li.main-menu-item
          a.main-menu__link(href="#") Link
            i(class="icon icon-home icon--nav")