include components/logo
include components/icon
include components/hero
include components/main-menu
include components/footer-menu
include components/articles
include components/pagination
include components/archive
include components/post