// Most of Materials section from http://barebones.paulrobertlloyd.com/_styleguide.php
include materials/headings
include materials/paragraphs
include materials/blockquote
include materials/ordered-list
include materials/unordered-list
include materials/definition
include materials/image
include materials/figure