.swatches__color
  border: border-hairline border-type[0] #222
  color: colors-main-bg;
  display: inline-block
  font-weight: body-weights-2
  height: 7em

.swatches__name
  background: #333
  border-bottom: border-hairline border-type[0] #222
  font-size: ($font-size-base / 1.5)


.color-base
  background: colors-main-base

.color-accent
  background: colors-main-accent

.color-media
  background: colors-main-media

.color-text
  background: colors-main-text

.color-bg
  background: colors-main-bg