.swatches__color
  border: border-hairline border-type black
  display: inline-block
  margin-right: 0.5em
  width: 5em
  height: 5em

.main-base-1
  background: colors-main-base

.main-accent-1
  background: colors-main-accent

.main-text-1
  background: colors-main-text

.main-bg-1
  background: colors-main-bg

.analogues-accent-1
  background: colors-analogues-accent-0

.analogues-text-1
  background: colors-analogues-text-0

.analogues-bg-1
  background: colors-analogues-bg-0

.analogues-accent-2
  background: colors-analogues-accent-1

.analogues-text-2
  background: colors-analogues-text-1

.analogues-bg-2
  background: colors-analogues-bg-1

.clashes-accent-1
  background: colors-clashes-accent-0

.clashes-text-1
  background: colors-clashes-text-0

.clashes-bg-1
  background: colors-clashes-bg-0

.clashes-accent-2
  background: colors-clashes-accent-1

.clashes-text-2
  background: colors-clashes-text-1

.clashes-bg-2
  background: colors-clashes-bg-1

.split-accent-1
  background: colors-split-accent-0

.split-text-1
  background: colors-split-text-0

.split-bg-1
  background: colors-split-bg-0

.split-accent-2
  background: colors-split-accent-1

.split-text-2
  background: colors-split-text-1

.split-bg-2
  background: colors-split-bg-1