.typography
  list-style: none
  margin: 0;
  padding: 0;

.body
  font-family: body-family

.headings
  font-family: headings-family

.hero
  font-family: hero-family

.code
  font-family: code-family