.archive-title__icon
  float: left
  margin-right: (padding-small / 4)
  margin-left: 0
  padding: padding-small
  vertical-align: baseline

.archive-list
  font-family: code-family

.archive-list-count
  margin-left: (padding-small / 2)