.articles-title
  border-bottom: border-thin border-type[0] colors-main-accent
  color: colors-main-text
  display: block
  padding-bottom: (padding-small / 2)

.articles-meta
  margin-top: -(padding-small * 1.05)
  @media mini
    font-size: ($font-size-base / 1.25)

.articles-meta__date
  background: colors-main-accent
  color: colors-main-accent-fill
  font-size: ($font-size-base * 1.25)
  padding: (padding-small / 2)

.articles-meta__tags
  font-family: code-family

.articles-meta__link
  padding: padding-small
  position: relative
