.main-menu
  @extends .u-justify-right
  font-family: code-family
  font-weight: headings-weights-0
  height: 100%
  padding-top: (padding-medium * 1.2)

.main-menu__link
  color: colors-main-text
  display: inline-block
  vertical-align: middle
  font-size: ($font-size-base * 1.15)
  height: 2em
  &:hover, &:focus
    color: colors-clashes-accent-1

.main-menu__icon
  width: ($font-size-base * 1.15)
  height: ($font-size-base * 1.15)

.footer-menu
  font-family: code-family
  font-weight: headings-weights-0

.footer-menu-section.node
  margin: 0

.footer-menu__item
  display: block

.footer-menu__icon
  margin: (padding-small / 4)
  width: 2.5em
  height: 2.5em