.pagination
  font-family: code-family
  font-size: ($font-size-base * 1.25)
  margin: padding-small 0
  @media mini
    font-size: ($font-size-base)
  @media small
    font-size: ($font-size-base / 1.25)