.post-masthead__title
  @extends .articles-title
  font-size: $font-size-base * ($font-scale * 5)
  line-height: ($line-height-base * 4)
  border-width: border-hairline
  @media mini
    font-size: $font-size-base * ($font-scale * 2)
    line-height: ($line-height-base * 1.8)
  @media small
    font-size: $font-size-base * ($font-scale * 3)
    line-height: ($line-height-base * 2.3)
  @media medium
    font-size: $font-size-base * ($font-scale * 3.5)
    line-height: ($line-height-base * 2.8)

.post-meta
  @extends .articles-meta
  margin-top: -(padding-small * 3)
  @media mini
    margin-top: -(padding-small * 5)

.post-meta__date
  @extends .articles-meta__date
  font-size: ($font-size-base * 2)
  line-height: ($line-height-base * 3.1)
  @media mini
    font-size: ($font-size-base)
  @media small
    font-size: ($font-size-base * 1.5)
  @media medium
    font-size: ($font-size-base * 1.75)

.post-meta__tags
  @extends .articles-meta__tags
  font-size: ($font-size-base * 1.2)
  line-height: ($line-height-base * 3)
  @media mini
    font-size: ($font-size-base / 1.25)
    line-height: ($line-height-base / 2)
  @media small
    font-size: ($font-size-base)
    line-height: ($line-height-base / 2)
  @media medium
    font-size: ($font-size-base * 1.125)
    line-height: ($line-height-base / 2)

.post-meta__link
  @extends .articles-meta__link

// Table of contents
.post-body > ul:first-child
  list-style: none
  margin: $line-height-base 0

.post-body > ul:first-child > li > ul
  background: lightness(colors-main-media-muted, 90%)
  border-left: border-thick border-type[0] colors-main-media
  list-style: none
  margin: 0
  padding: $line-height-base

.post-body > ul:first-child > li > ul > li
  border-bottom: border-thin border-type[0] lightness(colors-main-media-muted, 80%)
  padding-bottom: (padding-small / 2)

.post-body > ul:first-child > li > ul > li > ul > li
  border-bottom: border-hairline border-type[1] lightness(colors-main-media-muted, 80%)
  list-style: none
  margin: ($line-height-base / 2.3) 0
  padding-bottom: (padding-small / 4)

.post-body > ul:first-child > li > a
  background: colors-main-media
  border-bottom: border-med border-type[0] colors-main-media-shade
  color: colors-main-media-fill
  display: block
  padding: padding-small

.post-body > blockquote > p
  margin: 0

.post-body__note
  background: lightness(colors-main-accent-muted, 90%)
  font-style: italic
  margin: $line-height-base 0
  padding: padding-small

.post-src
  background: colors-main-media
  padding: padding-small

.post-src, .post-src a
  color: colors-main-media-fill

.post-body > img,
.post-body > p > img,
.post-body > figure
  display: block
  margin: $line-height-base auto
  width: (100% / 1.618)
  @media mini
    width: 100%

@media mini
  .post-body > h2
    font-size: $font-size-base * 2.25
    line-height: $line-height-base * 1.7

.post-body > figure > img
  width: 100%

.post-body > pre
  margin: $line-height-base 0

.header-anchor
  margin-right: (padding-small / 2.5)