---
layout: default
---
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <span class="post-meta_date span-block">
      {{ page.date | date: '%m/%d/%Y' }}
    </span>
    <span class="post-meta_topics span-block">
      {{ page.tags | array_to_sentence_string }}
    </span>
  </div>
  {% if page.primary-language %}
  <div class="post-body language-{{ page.primary-language }}">
  {% else %}
  <div class="post-body">
  {% endif %}
  {{ content }}
  </div>
</article>
