---
layout: default
template: post
---
<article class="post" role="main">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <span class="post-meta_date span-block">
      {{ page.date | date: '%m/%d/%Y' }}
    </span>
    <span class="post-meta_topics span-block">
      {{ page.tags | array_to_sentence_string }}
    </span>
  </div>
  {% if page.primary-language %}
  <div class="post-body language-{{ page.primary-language }}">
  {% else %}
  <div class="post-body">
  {% endif %}
  {{ content }}
  </div>
  <div class="post-nav grid halves" role="navigation">
    <span class="post-nav_prev node">
    {% if page.previous.url %}
      <a  class="post-nav_link" href="{{page.previous.url}}" title="Previous Post:
{{page.previous.title}}">Prev: {{page.previous.title}}</a> 
    {% endif %}
    </span>
    <span class="post-nav_next node"> 
    {% if page.next.url %}
      <a class="post-nav_link" href="{{page.next.url}}" title="Next Post: 
{{page.next.title}}">Next: {{page.next.title}}</a>
    {% endif %}
    </span>
  </div>
</article>
