/*------------------*\
   $ARTICLES
\*------------------*/

.articles-content-date {
  @include scale-to(h3);
  background: $color-text-fill;
  border-bottom: $border-thin $border-type darken($color-text-fill, 10);
  color: $color-text;
  font-weight: 300;
  padding: 0;
  text-align: right;
}

.articles-content-title {
  @include scale-to(h2);
  background: $color-base;
  color: $color-text-fill;
  font-family: $font-headline;
  padding: 0.2em 0.2em 0.2em 0.23em;
  @include media(tiny) {
    @include scale-to(h3);
    line-height: 1.3;
  }
  text-align: right;
  a {
    color: $color-text-fill;
  }
}