/*------------------*\
   $ARTICLES
\*------------------*/

.articles-meta_date {
  @include scale-to(h3);
  font-family: $font-headline;
}

.articles-meta_tags {
  @include scale-to(h5);
  background: $color-text-fill;
  color: $color-text;
  line-height: 1.5;
  padding: 0.5em;
  @include media(tiny) {
    border-radius: 0;
  }
}

.articles-content {
  border-left: $border-thick $border-type $color-base;
}

.articles-content_title {
  @include scale-to(h2);
  background: $color-base;
  color: $color-text-fill;
  padding: 0.2em 0.2em 0.2em 0.23em;
  @include media(tiny) {
    @include scale-to(h3);
    line-height: 1.3;
  }
}

.articles-content_excerpt {
  margin-bottom: 0;
  padding: 0 0.5em 0.5em 0.8em;
}