/*------------------*\
   $PAGINATION
\*------------------*/

.pagination {
  @include scale-to(h4);
  font-family: $font-headline;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

.pagination-current {
  color: $color-base;
  font-weight: 700;
}