/*------------------*\
   $POST
\*------------------*/

.post {
  margin: 0 auto;
  width: 75%;
  @include media(tiny) {
    width: 100%;
  }
  @include media(small) {
    width: 100%;
  }
  @include media(medium) {
    width: 100%;
  }
}

.post-title {
  @include typecsset-font-size($typecsset-h1-size * 1.3);
  background: $color-base;
  color: $color-text-fill;
  font-weight: 700;
  margin-bottom: 0;
  padding: 1em 0.5em;
  text-align: center;
  @include media(tiny) {
    @include typecsset-font-size($typecsset-h1-size / 1.3);
  }
  @include media(small) {
    @include typecsset-font-size($typecsset-h1-size / 1.3);
  }
}

.post-meta {
  text-align: left;
}

.post-meta_date {
  @include typecsset-font-size($typecsset-h2-size / 1.5);
  background: $color-text-fill;
  font-family: $font-headline;
  padding: 0 0 0 0.3em;
}

.post-meta_topics {
  background: $color-text-fill;
  border-top: $border-hairline $border-type $color-base;
  border-bottom: $border-med $border-type $color-base;
  color: $color-text;
  padding: 0.5em;
}

.post-body {
  @include typecsset-font-size($typecsset-base-font-size * 1.075);
  @include media(tiny) {
    @include typecsset-font-size($typecsset-base-font-size * 1.15);
  }
  @include media(small) {
    @include typecsset-font-size($typecsset-base-font-size * 1.15);
  }
  @include media(medium) {
    @include typecsset-font-size($typecsset-base-font-size * 1.05);
  }
  margin-top: 1em;
  @include media(tiny) {
    h2 {
      @include typecsset-font-size($typecsset-h2-size / 1.3);
    }
  }
  h3 {
    line-height: 1.5;
  }

  h4,
  p {
    line-height: 1.6;
  }

  a :not(.post-body_toc) {
    border-bottom: $border-hairline $border-type;
  }

  img {
    width: 100%;
  }

  h4 {
    @include typecsset-font-size($typecsset-h4-size / 1.3);
  }
  blockquote {
    background: $color-text-fill;
    color: black;
    font-family: $font-body;
    font-weight: 100;
    padding: 1em;
    @include media(tiny) {
      margin-left: 0;
    }
    & > p {
      margin: 0;
    }
  }
}

// Heavy nesting ahead, avoid if possible.
.post-body_toc ul:first-child {
  border-left: $border-med $border-type $color-base;
  font-weight: 400;
  list-style: none;
  margin: 2em 0;
  li {
    margin: 0.5em 0;
    a {
      background: $color-base;
      color: $color-text-fill;
      padding: 0.2em 0.3em;
    }
    & > ul {
      margin: 0.25em 0 0 1em;
    }
    & > ul li {
      list-style: none;
      a {
        background: transparent;
        color: $color-base;
      }
    }
  }
}

.post-body_src,
.post-body-cap {
  margin: $typecsset-base-line-height 0;
}

.post-body_src {
  background: $color-text-fill;
  margin: $typecsset-base-line-height 0;
  padding: 0.5em;
  p {
    margin: 0;
  }
}

.post-body-cap {
  @include typecsset-font-size($typecsset-h5-size * 1.15);
  background: $color-text-fill;
  border-top: $border-thick $border-type $color-base;
  color: $color-text;
  text-align: center;
  img {
    padding: 0 0 0.2em 0;
  }
  p {
    margin: 0;
    padding: 0 0 0.8em 0;
  }
}

.post-nav {
  border-top: $border-hairline $border-type $color-base;
  font-weight: 700;
  margin-top: 1em;
  padding-top: 0.5em;
}

.post-nav_next {
  text-align: right;
  @include media(tiny) {
    text-align: left;
  }
}

.post-nav_link {
  @include typecsset-font-size($typecsset-h5-size * 1.5);
  display: block;
  padding: 0.5em;
  &:hover,
  &:focus {
    @extend .hover-reset;
  }
}