doctype html
html(lang="en")
  head
    include ../partials/head
  body
    .container
      header.main-head
        include ../partials/main-menu
      main(role="main")
        block content
    include ../partials/page-scripts
