doctype html
html(lang="en")
  head
    include ../partials/head
  body
    .container.rhythm
      header.masthead.grid.complex
        .logo.node.col-1
          a.logo__link.icon.icon-logo(href="/", title="Chatman's Desk")
        include ../partials/main-menu
      main.rhythm(role="main")
        block content
      footer.main-foot
        include ../partials/footer-menu
    include ../partials/page-scripts
