doctype html
html(lang="en")
  head
    include ../partials/head
  body
    .container
      header.main-head
        .logo.icon-logo.icon--header
        include ../partials/main-menu
      main(role="main")
        block content
      footer.main-foot
        include ../partials/footer-menu
    include ../partials/page-scripts
