doctype html
html(lang="en")
  head
    include ../partials/head
  body
    .container.rhythm
      header.masthead.grid.golden
        a.logo.node.major.icon.icon-logo-alt(href="/", title="Chatman's Desk")
        include ../partials/main-menu
      main.rhythm(role="main")
        block content
      footer.main-foot
        include ../partials/footer-menu
    include ../partials/page-scripts
