/*------------------*\
   $LINKS
\*------------------*/

a {
  color: $color-base;
  padding: 0 0 0.05em 0;
  text-decoration: none;
  &:visited {
    border-bottom: $border-hairline $border-type $color-base;
    color: $color-text;
  }
  &:hover,
  &:focus {
    font-weight: 900;
  }
}