/*------------------*\
   $MAIN
\*------------------*/

html, body {
  background: $color-bg;
  @include media(tiny) {
    font-size: 14px;
  }
  @include media(small) {
    font-size: 16px;
  }
  @include media(medium) {
    font-size: 18px;
  }
}

html {
  overflow-y: scroll;
}

body {
  border-top: $border-super $border-type $color-base;
  color: $color-text;
  font-family: $font-body;
  margin: 0 0 0.5em 0;
  position: relative;
}