/*------------------*\
   $MAIN
\*------------------*/

html, body {
  background: $color-bg;
  @include media(tiny) {
    font-size: 14px;
  }
  @include media(small) {
    font-size: 16px;
  }
  @include media(medium) {
    font-size: 18px;
  }
}

html {
  overflow-y: scroll;
}

body {
  color: $color-text;
  font-family: $font-body;
  overflow: hidden;
  position: relative;
}