/*------------------*\
   $MAIN
\*------------------*/

html, body {
  background: $color-bg;
  @include media(tiny) {
    font-size: 14px;
  }
  @include media(small) {
    font-size: 16px;
  }
  @include media(medium) {
    font-size: 18px;
  }
}

html {
  height: 100%;
}

body {
  border-top: $border-thick $border-type $color-base;
  border-bottom: $border-super $border-type $color-base;
  color: $color-text;
  font-family: $font-body;
  min-height: 100%;
  position: relative;
}