/*------------------*\
   $TEXT
\*------------------*/

h1, 
h2,
h3, {
  font-family: $font-headline;
}

h1,
h2 {
  font-weight: 700;
}

h3 {
  color: $color-base;
  font-weight: 100;
}
h4 {
  font-family: $font-body;
  font-weight: 400;
}