.icon-book {
	background-image: url('png/book.png');
	background-repeat: no-repeat;
}
.icon-code {
	background-image: url('png/code.png');
	background-repeat: no-repeat;
}
.icon-codepen {
	background-image: url('png/codepen.png');
	background-repeat: no-repeat;
}
.icon-design-dev-star {
	background-image: url('png/design-dev-star.png');
	background-repeat: no-repeat;
}
.icon-gamepad {
	background-image: url('png/gamepad.png');
	background-repeat: no-repeat;
}
.icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}
.icon-heart {
	background-image: url('png/heart.png');
	background-repeat: no-repeat;
}
.icon-home {
	background-image: url('png/home.png');
	background-repeat: no-repeat;
}
.icon-jsfiddle {
	background-image: url('png/jsfiddle.png');
	background-repeat: no-repeat;
}
.icon-pencil {
	background-image: url('png/pencil.png');
	background-repeat: no-repeat;
}
.icon-penguin-ascii {
	background-image: url('png/penguin-ascii.png');
	background-repeat: no-repeat;
}
.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}
