html
  font-size: 20px
  height: 100%
  @media mini
      font-size: 14px
  @media small
    font-size: 16px
  @media medium
      font-size: 18px

body
  background-color: colors-main-bg
  color: colors-main-text
  font-family: body-family
  font-weight: body-weights-0
  font-size: 1rem
  line-height: 1.667rem
  min-height: 100%
  position: relative

::selection
  background: lightness(colors-main-base, 92%)