html
  font-size: 18px
  height: 100%

body
  background-color: colors-main-bg
  color: colors-main-text
  font-family: body-family
  font-weight: body-weights-0
  font-size: 1rem
  line-height: 1.667rem
  min-height: 100%
  position: relative

::selection
  background: hsl(244, 40%, 90%)