img,
video,
object
  max-width: 100%
  height: auto

////////////
// Images //
////////////

:not(figure) > img
  border: border-med border-type[0] colors-main-media

figure, figcaption
  background: colors-main-media-shade

figcaption
  @extends .u-justify-right
  background: colors-main-media
  color: colors-main-media-fill
  border-top: border-hairline border-type[0] colors-main-media-shade
  padding: 0 padding-small padding-small padding-small