.h1, 
.h2, 
h1,
h2
  font-family: headings-family
  font-weight: headings-weights-1


.h3,
h3
  color: colors-main-base
  font-family: body-family
  font-weight: body-weights-0
.h4, 
h4,
.h5, 
h5
  font-weight: body-weights-0
